.tweet-props{
    border: 1px solid #0072d6;
    box-shadow: 30px -8px #1DA1F2;
    border-radius: 8px;
    margin: 20px 20%;
    padding: 20px;
}

.username, .date {
  color: #4e899c;
  display: inline-block;
  margin: 0 10px;
}

.name {
    display: block;
    font-size: larger;
    font-weight: bolder;
}

.tweet {
    display: block;
    font-size: x-large;
    font-weight: bold;
}